@charset "utf-8";
/* ================================== Button ================================== */
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border: 0;
	padding: rem(6);
	font-weight: 600;
	border-radius: rem(16);
	transition: background-color .3s;
	&-inline {
		display: inline-flex;
	}
	&:disabled,
	&.disabled {
		color: #999;
		border: rem(1) solid #e8e8e8;
		background-color: #e8e8e8;
	}
	span {
		pointer-events: none;
	}
	//basic
	&-primary {
		height: rem(58);
		color: #fff;
		font-size: rem(20);
		font-weight: 600;
		border: rem(1) solid #F82B3C;
		background-color: #F82B3C;
		box-shadow: 0 rem(1) rem(1) 0 rgba(51,51,51,.1);
		&.type2 {
			border: rem(1) solid #999;
			background-color: #999;
		}
	}
	&-secondary {
		height: rem(50);
		color: #222;
		font-size: rem(15);
		font-weight: 700;
		border: rem(1) solid rgba(51,51,51,.1);
		background-color: #fff;
		box-shadow: 0 rem(1) rem(1) 0 rgba(51,51,51,.1);
	}

	// icon button
	&-back {
		width: rem(64);
		height: rem(68);
		padding: 0;
	}
	&-share {
		width: rem(40);
		height: rem(40);
		padding: 0;
	}
	&-close-pop {
		width: rem(20);
		height: rem(20);
		padding: 0;
	}
	&-close-full {
		width: rem(64);
		height: rem(68);
		padding: 0;
	}
	&-edit {
		width: rem(36);
		height: rem(36);
		padding: 0;
		border-radius: 50%;
		background-color: #E5E5E5;
	}
	&-shoot {
		width: rem(80);
		height: rem(80);
		padding: 0;
	}
}

[class^="btn-group-"] {
	display: flex;
	align-items: center;
	justify-content: center;
	&.btn-inline {
		display: inline-flex;
	}
}
.btn-group {
	&-row {
		.btn {
			&:not(:first-child) {
				margin-left: rem(10);
			}
		}
		&.btn-full {
			.btn {
				width: 100%;
			}
		}
		&.btn-half {
			.btn {
				flex-basis: 50%;
			}
		}
		&.btn-half {
			.btn {
				flex-basis: 50%;
			}
		}
		&.between {
			justify-content: space-between;
		}
	}
	&-col {
		@include flex-direction(column);
		.btn {
			width: 100%;
			&:not(:first-child) {
				margin-top: rem(10);
			}
		}
	}
}