@charset "utf-8";
/* ================================== Form ================================== */
.field-item {
	margin-top: rem(6);
	&:not(:first-child) {
		margin-top: rem(20);
	}
}
.label {
	display: flex;
	align-items: center;
	margin-bottom: rem(11);
	font-size: rem(14);
	font-weight: 500;
}
.necessary {
	display: inline-block;
	width: rem(4);
	height: rem(4);
	margin: rem(-9) 0 0 rem(4);
	border-radius: 50%;
	background-color: $color-point;
}
.input-group {
	display: flex;
	.input-item {
		flex-grow: 1;
		+ .btn-form {
			min-width: rem(122);
			margin-left: rem(10);
		}
	}
}
.input-item {
	position: relative;
	input[type='text'],
	input[type='password'],
	input[type='number'],
	input[type='email'],
	input[type='url'],
	input[type='tel'],
	textarea {
		width: 100%;
		min-height: rem(48);
		padding: rem(11) rem(54) rem(11) rem(15);
		border: rem(1) solid $color-gray_e5;
		border-radius: rem(6);
		&:focus {
			border-color: $color-spruce;
		}
		&:disabled {
			color: $color-gray_ae;
			border-color: $color-gray_f6;
			background-color: $color-gray_f6;
		}
		&.underline {
			min-height: 0;
			margin-top: rem(3);
			padding: rem(7) rem(38) rem(6) rem(6);
			border-width: 0 0 rem(1) 0;
			border-color: #707070;
			border-radius: 0;
			+ .btn-reset {
				width: rem(38);
				height: rem(38);
				right: 0;
				right: 0;
			}
		}
	}
	input[type='number'] {
		//text-align: right;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}
	}
	textarea {
		margin: rem(1) 0;
	}
}
.control {
	+ .control {
		margin-top: rem(12);
	}
	.error-msg {
		display: none;
		padding: rem(4) rem(16) rem(1);
		color: $color-error;
		font-size: rem(12);
	}
	.success-msg {
		display: none;
		padding: rem(4) rem(16) rem(1);
		color: $color-success;
		font-size: rem(12);
	}
	.btn-reset {
		display: none;
		position: absolute;
		top: rem(2);
		right: rem(4);
		&.show {
			display: flex;
		}
	}
	&.is-error,
	&.is-success {
		.input-item:after {
			content: '';
			position: absolute;
			top: rem(12);
			right: rem(15);
			display: block;
			width: rem(24);
			height: rem(24);
		}
		.btn-reset.show {
			display: none;
		}
	} 
	&.is-error {
		.input-item:after {
			background: url("../img/ic-error.svg") no-repeat center / contain;
		}
		input[type='text'],
		input[type='password'],
		input[type='number'],
		input[type='email'],
		input[type='url'],
		input[type='tel'],
		textarea {
			color: $color-error;
			border-color: $color-error;
		}
		.error-msg {
			display: block;
		}
		.success-msg {
			display: none;
		}
	}
	&.is-success {
		.input-item:after {
			background: url("../img/ic-success.svg") no-repeat center / contain;
		}
		input[type='text'],
		input[type='password'],
		input[type='number'],
		input[type='email'],
		input[type='url'],
		input[type='tel'],
		textarea {
			color: $color-spruce;
			border-color: $color-success;
		}
		.error-msg {
			display: none;
		}
		.success-msg {
			display: block;
		}
	}
	&.show {
		display: block;
	}
	&.hide {
		display: none;
	}
}

// choice-group
.choice-group {
	display: flex;
	flex-wrap: wrap;
	margin-top: rem(-10);
	margin-right: rem(-10);
	.custom-check,
	.custom-radio {
		margin-top: rem(10);
	}
	&.col1 {
		margin-right: 0;
		.custom-check,
		.custom-radio {
			flex: 1 1 100%;
			max-width: 100%;
			&.btn-type .label-txt {
				margin-right: 0;
				padding: rem(6);
			}
		}
	}
	&.col2 {
		margin-right: 0;
		.custom-check,
		.custom-radio {
			flex: 1 1 calc(50% - 0.3125rem);
			max-width: calc(50% - 0.3125rem);
			margin-right: rem(5);
			&:nth-child(2n) {
				margin-left: rem(5);
				margin-right: 0;
			}
			&.btn-type .label-txt {
				margin-right: 0;
				padding: rem(6);
			}
		}
	}
}

// custom check/radio
.custom-check,
.custom-radio {
	display: flex;
	align-items: center;
	cursor: pointer;
	input {
		width: rem(1);
		height: rem(1);
		padding: 0;
		border: 0;
		margin: rem(-1);
		clip: rect(0,0,0,0);
		overflow: hidden;
		position: absolute;
		& + .mark {
			display: inline-block;
			width: rem(24);
			height: rem(24);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
		&[type="checkbox"] {
			& + .mark {
				background-image: url("../img/ic-check-off.svg");
			}
			&:checked + .mark {
				background-image: url("../img/ic-check-line.svg");
			}
		}
		&[type="radio"] {
			& + .mark {
				background-image: url("../img/ic-radio-off.svg");
			}
			&:checked + .mark {
				background-image: url("../img/ic-radio-line.svg");
			}
		}
	}
	.label-txt {
		display: flex;
		align-items: center;
		margin-right: rem(10);
		padding: 0 rem(15) 0 rem(8);
	}
	&.fill-type {
		input {	
			&[type="checkbox"] {
				&:checked + .mark {
					background-image: url("../img/ic-check-fill.svg");
				}
			}
			&[type="radio"] {
				&:checked + .mark {
					background-image: url("../img/ic-radio-fill.svg");
				}
			}
		}
		.label-txt {
			font-weight: 500;
		}
	}
	&.btn-type {
		justify-content: center;
		input + .mark {
			display: none;
		}
		.label-txt {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			width: 100%;
			min-height: rem(36);
			padding: rem(6) rem(15);
			font-size: rem(14);
			font-weight: 500;
			border-width: rem(1);
			border-style: solid;
			border-radius: rem(6);
			background-color: $color-white;
			transition: background-color .3s;
		}
		input:checked ~ .label-txt {
			color: $color-white;
		}
		&.primary {
			.label-txt {
				color: #29543e;
				border-color: #29543e;
			}
			input:checked ~ .label-txt {
				background-color: #29543e;
			}
		}
		&.secondary {
			.label-txt {
				color: #171d38;
				border-color: #171d38;
			}
			input:checked ~ .label-txt {
				background-color: $color-black;
			}
		}
	}
}

.reason-etc-input {
	display: none;
	&.show {
		display: block;
	}
}

// toggle switch 0n/0ff
.custom_check {
	&.switch_type {
		position: relative;
		display: inline-block;
		width: rem(56px);
		min-width: rem(56px);
		height: rem(24px);
		padding-left: 0;
		font-size: rem(12px);
		.slider {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-radius: rem(15px);
			background-color: #AAA;
			transition: .3s;
			cursor: pointer;
			&:before {
				position: absolute;
				content: 'OFF';
				top: 50%;
				right: rem(7px);
				color: #FFF;
				transform: translateY(-50%);
				transition: .2s;
			}
			&:after {
				content: '';
				position: absolute;
				width: rem(18px);
				height: rem(18px);
				top: 50%;
				border-radius: 50%;
				background-color: #FFF;
				transform: translate(rem(4px), -50%);
				transition: .2s;
			}
		}
		input:checked {
			& + .slider {
				background-color: #1FB9AF;
				&:before {
					content: 'ON';
					left: rem(7px);
					right: auto;
				}
				&:after {
					transform: translate(rem(34px), -50%);
				}
			}
		}
	}
}

// upload
.upload-item {
	.upload-result {
		position: relative;
		display: none;
		max-width: rem(260);
		margin: 0 auto rem(13);
		.upload-photo {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			margin-bottom: rem(6);
			padding-top: (160/260) * 100%;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border: rem(2) dashed $color-gray_e3;
				border-radius: rem(6);
				z-index: 2;
			}
			img {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: rem(6);
				object-fit: cover;
			}
		}
		.upload-photo-name {
			display: block;
			overflow:hidden;
			text-overflow: ellipsis; 
			white-space: nowrap;
			width: 100%;
			text-align: center;
			font-size: rem(14);
		}
		.btn-reset {
			position: absolute;
			top: rem(-1);
			right: rem(-1);
			z-index: 3;
		}
		&.name-only {
			max-width: rem(230);
			margin: 0 auto rem(13);
			.upload-photo-name {
				height: rem(52);
				padding: 0 rem(50) 0 rem(16);
				text-align: left;
				font-weight: 500;
				line-height: rem(52);
				border: rem(2) dashed $color-gray_e3;
				border-radius: rem(6);
				background-color: $color-white;
			}
			.btn-reset {
				top: rem(5);
				right: rem(5);
			}
		}
	}
	.control {
		display: block;
		max-width: rem(230);
		margin: 0 auto rem(13);
		&.is-error {
			.input-item:after {
				display: none;
			}
			.error-msg {
				text-align: center;
			}
		}
	}
	input[type='file'] {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}
	&.is-upload {
		.upload-result {
			display: block;
		}
		.control {
			display: none;
		}
		+ .txt-guide {
			display: none;
		}
	}
}

// 바코드 입력
.img-barcode {
	max-width: rem(240);
	margin: rem(-3) auto rem(7);
}
.form-barcode {
	.control {
		display: block;
		max-width: rem(196);
		margin: 0 auto;
	}
}

// 약관동의
.agree-check {
	.choice-group {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.choice-item {
		display: flex;
		align-items: center;
		margin-top: rem(5);
		.custom-check {
			margin-top: 0;
			padding: rem(7) rem(4) rem(7) rem(16);
		}
		.btn-terms-view {
			width: 100%;
			white-space: unset;
			text-align: left;
		}
	}
	.fill-type {
		margin: rem(10) 0 rem(5);
		padding: rem(12) rem(14);
		border: rem(2) solid $color-gray_e5;
		border-radius: rem(6);
		&.is-checked {
			border-color: $color-light-olive2;
			background-color: rgba($color-light-olive2, .15);
		}
	}
}

// 조회기간
.period-setting {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: rem(15) rem(24) rem(7);
	font-weight: 500;
	white-space: nowrap;
	background-color: $color-white;
	.tit {
		margin-right: rem(8);
	}
	.tilde {
		margin: 0 rem(8) 0 rem(5);
	}
	input {
		max-width: rem(100);
		font-family: $base-font-family;
		font-weight: 500;
	}
	img {
		cursor: pointer;
	}
	.btn-refresh {
		width: rem(24);
		height: rem(24);
		margin-left: rem(12);
	}
}