@charset "utf-8";
/* ================================== Icon ================================== */
.ic {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	$icon-svg: (
		'back': (rem(24), rem(24)),
		'close-full': (rem(24), rem(24)),
		'close-pop': (rem(20), rem(20)),
	);
	@each $name, $size in $icon-svg {
		&-#{$name} {
			width: nth($size, 1);
			height: nth($size, 2);
			background-image: url("../img/ic-#{$name}.svg");
		}
	}
	$icon-png: (
		'share': (rem(40), rem(40)),
		'bot': (rem(30), rem(30)),
		'edit': (rem(30), rem(30)),
		'required-error': (rem(12), rem(12)),
		'progress': (rem(136), rem(157)),
		'shoot': (rem(80), rem(80)),
		'hourglass': (rem(74), rem(88)),
	);
	@each $name, $size in $icon-png {
		&-#{$name} {
			width: nth($size, 1);
			height: nth($size, 2);
			background-image: url("../img/ic-#{$name}.png");
		}
	}
	$icon-gif: (
		'limit-ani': (rem(164), rem(153)),
		'progress-ani': (rem(136), rem(152)),
	);
	@each $name, $size in $icon-gif {
		&-#{$name} {
			width: nth($size, 1);
			height: nth($size, 2);
			background-image: url("../img/ic-#{$name}.gif");
		}
	}
}