@charset "utf-8";
/* ================================== Layout ================================== */
#wrap {
	width: 100%;
	height: 100%;
	min-height: 100%;
}
#statusbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 44px;
	background: url("../img/layout-statusbar.png") no-repeat center / cover;
	background-color: #fff;
	transition: all .4s;
	z-index: 6;
}
#header {
	position: absolute;
	top: 44px;
	left: 0;
	right: 0;
	padding: 0;
	height: 122px;
	transition: all .4s;
	background-color: #fff;
	z-index: 6;
	&.header-main {
		height: 68px;
		padding-top: 68px;
		background: url("../img/layout-header-main.png") no-repeat center / cover;
		&.scroll {
			height: 68px;
		}
	}
	.btn-back {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9;
	}
	.btn-share {
		position: absolute;
		bottom: 0;
		right: rem(20);
		transition: all .4s;
		z-index: 9;
	}
	.title {
		position: relative;
		left: rem(20);
		display: inline-block;
		padding-top: rem(68 + 20);
		font-size: rem(24);
		font-weight: 800;
		transition: all .4s;
	}
	&.top-fixed,
	&.scroll {
		height: 68px;
		.title {
			left: 50%;
			padding-top: rem(21);
			font-size: rem(20);
			font-weight: 500;
			transform: translateX(-50%)
		}
		.btn-share {
			bottom: rem(14);
		}
	}
}

#container {
	width: 100%;
	height: 100%;
}

section {
	padding-top: 44px;
	padding-bottom: rem(121);
}

#bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	transition: all .4s;
	z-index: 9;
	// &.hide {
	// 	transform: translateY(90px);
	// 	#floatingBtn {
	// 		transform: translateY(200px);
	// 	}
	// }
}

.dim {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	background-color: rgba(0,0,0,.4);
	z-index: 7;
	&.show {
		display: block;
	}
}

#actionbar {
	position: relative;
	display: flex;
	height: rem(121);
	border-top: rem(1) solid #eee;
	box-shadow: 0 rem(-4) rem(32) rgba(0,0,0,.1);
	background: url("../img/gnb-home.png") no-repeat center / cover;
	z-index: 9;
	&.actionbar-home {
		background: url("../img/gnb-home.png") no-repeat center / cover;
	}
	&.actionbar-loan {
		background: url("../img/gnb-loan.png") no-repeat center / cover;
	}
	li {
		width: 25%;
		height: rem(121);
		a {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	.menu-on {
		position: relative;
		.line {
			&:before {
				content: '';
				position: absolute;
				top: -1px;
				left: 50%;
				width: 54%;
				height: rem(1);
				background-color: #111;
				transform: translateX(-50%);
			}
		}
	}
}


#floatingBtn {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: rem(30) rem(20);
	height: rem(118);
	font-size: rem(24);
	transition: all .4s ease-out;
	z-index: 6;
	p:not(:first-child) {
		margin-top: rem(8);
	}
	button {
		border: 0;
	}
}

.div-cont {
	a {
		display: inline-block;
	}
}
#homeTop {
	background-color: #000;
}
.page-main {
	section {
		padding-top: 44px + 68px;
		padding-bottom: rem(121);
	}
}
.page-submain {
	section {
		padding-top: 44px + 122px;
		padding-bottom: rem(121);
	}
	.scroll + #container > section {
		padding-top: 44px + 68px;
	}
}
.page-sub {
	section {
		padding-top: 44px + 122px;
		padding-bottom: 0;
		transition: all .4s;
	}
	.top-fixed + #container > section,
	.scroll + #container > section {
		padding-top: 44px + 68px;
	}
	&.have-floatingBtn section {
		padding-bottom: rem(118);
	}
	&.in-progress section {
		padding-bottom: 200px;
	}
}
.all-menu {
	position: absolute;
	top: 44px;
	left: 0;
	right: 0;
	bottom: 0;
	transform: translateX(101%);
	transition: all .4s ease-in-out;
	z-index: 9999;
	&.is-active {
		transform: translateX(0);
	}
	.allmenu-top {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 9999;
	}
	.popup-inner {
		position: relative;
		height: calc(100% - (218px));
		margin-top: 218px;
		overflow-x: hidden;
		overflow-y: auto;
		scrollbar-color: #555 #F1F1F1;
		scrollbar-width: thin;
		/* width */
		&::-webkit-scrollbar {
			width: 0;
		}
		/* Track */
		&::-webkit-scrollbar-track {
			background: #F1F1F1;
			border-radius: 100px;
		}
		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: #888;
			border-radius: 100px;
		}
		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: #555;
		}
	}
	.link-box {
		top: 0;
		height: 72px;
		z-index: 99999;
	}
}
// full-popup
.full-popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 9999;
	&.is-active {
		display: block;
	}
	.inner {
		padding-top: rem(20);
	}
	.popup-head {
		position: absolute;
		top: 44px;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: rem(68);
		z-index: 9999;
		.pop-tit {
			font-size: rem(20);
			font-weight: 500;
			line-height: 1.1;
		}
		.btn-close-full {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	.popup-inner {
		position: relative;
		height: calc(100% - (112px));
		margin-top: 112px;
		padding-bottom: 118px;
		overflow-x: hidden;
		overflow-y: auto;
		scrollbar-color: #555 #F1F1F1;
		scrollbar-width: thin;
		/* width */
		&::-webkit-scrollbar {
			width: 0;
		}
		/* Track */
		&::-webkit-scrollbar-track {
			background: #F1F1F1;
			border-radius: 100px;
		}
		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: #888;
			border-radius: 100px;
		}
		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: #555;
		}
	}
	.link-box {
		top: 0;
		height: 68px;
		z-index: 99999;
	}
}

// progress-popup
.progress-popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display:flex;
	align-items: center;
	justify-content: center;
	// background-color: rgba(#fff, .95);
	background-color: #F6F5F5;
	transition: all .3s ease-in-out;
	opacity: 0;
	z-index: -1;
	&.is-active {
		opacity: 1;
		z-index: 9999;
	}
	.popup-inner {
		display: block;
		width: 76%;
		.progress-status {
			display: flex;;
			align-items: center;
			margin-top: rem(120);
			color: #000;
			font-size: rem(22);
			font-weight: 700;
			em {
				margin-right: rem(5);
                font-size: rem(66);
				letter-spacing: -0.05em;
			}
			span {
				margin-top: rem(20);
			}
		}
		.ic-progress {
			display: block;
			margin-top: rem(60);
		}
		strong {
			display: block;
			margin: rem(25) 0 rem(15);
			font-size: rem(24);
			font-weight: 700;
			line-height: 1.42;
		}
		.txt {
			color: #777;
			font-size: rem(16);
			font-weight: 400;
			line-height: 1.625;
		}

	}
}

// bottom sheet
.bottom-sheet {
	position: absolute;
	bottom: rem(10);
	left: rem(10);
	right: rem(10);
	z-index: 1000;
	border-radius: rem(30);
	transform: translateY(120%);
	transition: all .4s ease-in-out;;
	background-color: #fff;
	opacity: .5;
	&.is-active {
		transform: translateY(0);
		opacity: 1;
		+ .modal-dim {
			opacity: 1;
			z-index: 999;
		}
	}
	&.pos-side {
		transform: translateX(120%) translateY(0);
		transition: all .3s ease-in-out;;
		opacity: 1;
		&.is-active {
			transform: translateX(0) translateY(0);
		}
	}
	.inner {
		padding: rem(30) rem(20) rem(20);
	}
	.pop-head {
		position: relative;
		margin-bottom: rem(20);
		padding: 0 rem(49) 0 0;
		.pop-tit {
			font-size: rem(18);
			font-weight: 600;
			line-height: 1.1;
		}
		.btn-close-pop {
			position: absolute;
			top: 0;
			right: 0;
		}
		&.in-progress-bar {
			padding-top: rem(8);
			padding-bottom: rem(8);
		}
	}
	.pop-body {
		overflow-x: hidden;
		overflow-y: auto;
		scrollbar-color: #555 #F1F1F1;
		scrollbar-width: thin;
		/* width */
		&::-webkit-scrollbar {
			width: 0;
		}
		/* Track */
		&::-webkit-scrollbar-track {
			background: #F1F1F1;
			border-radius: 100px;
		}
		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: #888;
			border-radius: 100px;
		}
		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: #555;
		}
	}
}

.progress-chat,
.next-chat {
	display: none;
	&.is-show {
		display: block;
	}
}

.step-item {
	display: none;
	&.is-show {
		display: block;
	}
	.step-disabled,
	.step-active {
		font-size: 0;
	}
	.step-disabled {
		display: block;
	}
	.step-active {
		display: none;
	}
	&.is-active {
		.step-disabled {
			display: none;
		}
		.step-active {
			display: block;
		}
	}
	img {
		pointer-events: none;
	}
	.btn {
		margin-top: rem(40);
	}
}

.progress-bar {
	width: 100%;
    height: rem(4);
    border-radius: 2px;
    background: #E8E8E8;
	span {
		content:'';
		display: block;
		height: rem(4);
		border-radius: rem(2);
		background: #F82B3C;
		transition: all .4s;
	}
}

.modal-dim {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(#222,.5);
	transition: all .4s;
	transform: translateY(0);
	opacity: 0;
	z-index: -1;
}



@media(max-width: 750px) {
	#statusbar {
		display: none;
	}
	#header {
		top: 0;
	}
	section {
		padding-top: 0;
	}
	.page-main {
		section {
			padding-top: 68px;
		}
	}
	.page-submain {
		section {
			padding-top: 122px;
		}
		.scroll + #container > section {
			padding-top: 68px;
		}
	}
	.page-sub {
		section {
			padding-top: 122px;
		}
		.top-fixed + #container > section,
		.scroll + #container > section {
			padding-top: 68px;
		}
	}
	.all-menu {
		top: 0;
	}
	.full-popup {
		.popup-head {
			top: 0;
		}
	}
}

