@charset "utf-8";

// Content Width
$webWidth: 1200px;
$mobileWidth: 640px;

// font family
$base-font-family: 'Pretendard', sans-serif;

// font base size
$html-font-size: 16px;

// color
$color-pale-skyblue: #cbe0ee;
$color-darkblue-grey: #181e3b;
$color-battleship-grey: #6a7682; //(Font color: Secondary2)
$color-light-olive: #c5d352;
$color-light-olive2: #c8d265; //(Font color: Secondary1)
$color-weird-green: #3ddb87; //(Primary: Primary1)
$color-spruce: #0e563c;
$color-gray_fe: #fefefe;
$color-gray_f7: #f7f7f7;
$color-gray_f6: #f6f6f6;
$color-gray_ae: #aeaeae; //(Font color: Secondary3)
$color-gray_e3: #e3e3e3; //(Line, BG)
$color-gray_e5: #e5e5e5;

$color-black: #2c2a29; //(Primary: Primary2)
$color-white: #fff; //(Font color: Secondary4, BG)
$color-red: #f73131; //(Accent: Status)


$color-primary: #F82B3C;
$color-secondary: $color-darkblue-grey;

$color-point: $color-red;
$color-error: $color-red;

$color-success: $color-light-olive2;


// break points
$breakpoints: (
	'sm':       ( max-width: 640px ),
	'md':       ( max-width: 960px ),
	'lg':       ( max-width: 1200px ),


		//1920
		//1440
		//1280
		//1024
		//768
		//560
		//375
		//320

) !default;


