@charset "utf-8";
/* ================================== Common ================================== */

html {
	width: 100%;
	height: 100%;
	font-size: $html-font-size;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
body {
	height: 100%;
	color: #222;
	font-family: $base-font-family;
	font-size: rem(12px);
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.02em;
	word-break: keep-all;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

.sr-only {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	border: 0;
	clip: rect(0,0,0,0);
}
.hidden {
	width: 0 !important;
	height: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden !important;
}

input,
textarea {
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	outline: none;
	border: none;
	box-sizing: border-box;
}

button {
	font-family: inherit;
	font-size: inherit;
	line-height: initial;
	white-space: nowrap;
	background: transparent;
}

// placeholder
input,
textarea {
	@include placeholder {
		color: $color-gray_ae;
	}
	&:focus {
		@include placeholder {
			color: transparent;
		}
	}
}
.is-error {
	input,
	textarea {
		@include placeholder {
			color: $color-error;
		}
		&:focus {
			@include placeholder {
				color: transparent;
			}
		}
	}
}
.is-success {
	input,
	textarea {
		@include placeholder {
			color: $color-spruce;
		}
		&:focus {
			@include placeholder {
				color: transparent;
			}
		}
	}
}

input {
	border: 0;
	color: $color-black;
	vertical-align: middle;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}
input[type='radio'] {
	-webkit-appearance: radio;
	-moz-appearance: radio;
	-o-appearance: radio;
	appearance: radio;
}
input[type='checkbox'] {
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
	-o-appearance: checkbox;
	appearance: checkbox;
}
textarea {
	width: 100%;
	vertical-align: middle;
	resize: none !important;
	color: $color-black;
	word-break: break-all !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}

// align
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}

// margin
.mgt0 {
	margin-top: 0 !important;
}
.mgt10 {
	margin-top: rem(10) !important;
}
.mgt20 {
	margin-top: rem(20) !important;
}
.mgt30 {
	margin-top: rem(30) !important;
}
.mgt40 {
	margin-top: rem(30) !important;
}
.mgt50 {
	margin-top: rem(30) !important;
}

// font
.fs0 {
	font-size: 0 !important;
}